gradle.properties
.DS_Store
*.pyc
*.un~
*.synctex.gz
*.log
*.out
*.class
*.aux
*.idx
*.swp
*.lof
*.lot
*.toc
*.jar
*.pdf
*.iml
*.idea
bin/
build/
target/
.gradle/
.settings/
.classpath
.project
/.sonar
Libs/API/Web
Libs/API/Doc
Libs/API/Go
Libs/API/JS
Libs/API/Python
Libs/API/Ruby
Libs/DotNetRaptureAPI/Generated
Libs/DotNetRaptureAPI/**/Generated
Libs/DotNetRaptureAPI/**/bin
Libs/DotNetRaptureAPI/**/obj
Libs/API/VB
**/antlr3/**/*.tokens
**/antlr3/**/*.java
Doc/slate/source/includes
Libs/API/Slate*
