gradle.properties
.DS_Store
*.pyc
*.un~
*.synctex.gz
*.log
*.out
*.class
*.aux
*.idx
*.swp
*.lof
*.lot
*.toc
*.jar
*.pdf
*.iml
*.idea
bin/
build/
target/
.gradle/
.settings/
.classpath
.project
/.sonar
API/Web
API/Doc
API/Go
API/JS
API/Python
API/Ruby
DotNetRaptureAPI/Generated
DotNetRaptureAPI/**/Generated
DotNetRaptureAPI/**/bin
DotNetRaptureAPI/**/obj
API/VB
**/antlr3/**/*.tokens
**/antlr3/**/*.java
Doc/slate/source/includes
API/SlateMd
